body{
    background-color: black;
    height: 100%;
}
div{
    margin-top: 20px;
    width: 80%;
    margin: 30px , auto;
    color: white;
    text-align: center;
}
#seconds,#tens{
    font-size: 2em;
}
button{
    margin-top: 20px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    margin-right: 15px;
  
}