@import url('https://fonts.googleapis.com/css?family=Space+Mono');

/* quick reset so all our padding is the right size */
* {
  box-sizing: border-box;
  
}

.calculator input,
.calc-button   {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* add some spacing */
body          {
  background: #F6F6F6;
  padding-bottom: 30px;
  padding-top: 30px;  
}

/* limit the width and center */
.calculator   {
  max-width: 400px;
  margin: 0 auto;
  border: 2px solid #0394fc;
  border-radius: 5px;
  box-shadow: 3px 5px 3px
}

.calculator input   {
  /* reset basic form styles */
  /* Code by Bilal  */
  background: #0394fc;
  border: none;
  box-shadow: none;
  outline: none;

  padding: 20px 10px;
  width: 100%;
  border-bottom: 2px solid #0394fc;
  color: white;
  text-align: right;
  font-size: 40px;
  border-radius: 0;
}

.calc-button  {
  background: rgb(228, 244, 247); /* light background with opacity 50% */
  border: 1px solid #0394fc; /* black border */
  padding: 20px;
  color: rgb(36, 20, 20); /* white text */
  border-radius: 5px; /* rounded corners */
  font-size: 22px; /* larger fonts */
  cursor: pointer; /* make it look clickable */
  box-shadow: 1px 1px #0394fc;
}

.calculator-buttons {
  /* small spacing within our container */
  padding: 40px;

  /* the grid stuff! */
  display: grid;

  /* create 4 columns */
  grid-template-columns: 1fr 1fr 1fr 1fr;

  /* add the grid gap */
  grid-gap: 15px;
}



/* go blue */
.is-clear   {
  background: whitesmoke;
}

.is-equals {
  background: #0394fc;
  grid-column: span 4;
}

.tt{
  background: #a3ceec;
  color: white;
  box-shadow: black;
}